*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    width: 100vw;
}
.pageTop
{
    width: 100%;
    margin: auto;
    background: rgb(4, 42, 42);
    padding: 0.8em 0;
}
.pageTop .pageTopContent
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.pageTop .pageTopContent .contact
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pageTop .pageTopContent .contact i
{
    padding:  0 0.5em;
}
.pageTop .pageTopContent .shop
{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.pageTop .pageTopContent .shop .discount p
{
    padding-right: 2em;
    border-right: 2px solid white;
    cursor: pointer;
}
.pageTop .pageTopContent .shop .discount p a
{
    color: white;
    text-decoration: none;
}
.pageTop .pageTopContent .shop .purchase p a
{
    text-decoration: none;
    color: white;
}
.pageTop .pageTopContent .locationAndLanguage
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pageTop .pageTopContent .locationAndLanguage div
{
    margin: 0 1em;
}
.locationAndLanguage .language
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.locationAndLanguage .language .languageText
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.locationAndLanguage .language .languageText p,  .locationAndLanguage .language .languageText i
{
    padding: 0 0.5em;
}
.languageList
{
    border: 1px solid rgb(93, 92, 92);
    background: white;
    top: 30px;
    border-radius: 5px;
}
.languageList ul
{
    list-style-type: none;
    
}
.languageList ul li
{
    margin: 0.5em 0;
    color: rgb(93, 92, 92);
    border-bottom: 1px solid rgb(200, 150, 150);
    cursor: pointer;
    padding: 0.4em 1.5em;
    font-size:13px;
    text-transform: uppercase;
    font-weight: bold;
}
.languageList ul li:hover
{
    background:rgb(239, 237, 237)
}
.languageList ul li:last-child
{
    border-bottom: none;
}

.locationAndLanguage .location
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.locationAndLanguage .location .locationText
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.locationAndLanguage .location .locationText p,  .locationAndLanguage .location .locationText i
{
    padding: 0 0.5em;
}
.locationList
{
    border: 1px solid rgb(93, 92, 92);
    background: white;
    top: 30px;
    border-radius: 5px;
}
.locationList ul
{
    list-style-type: none;
    width: 100%;
}
.locationList ul li
{
    margin: 0.5em 0;
    color: rgb(93, 92, 92);
    border-bottom: 1px solid rgb(200, 150, 150);
    cursor: pointer;
    padding: 0.4em 1.5em;
    font-size:13px;
    text-transform: uppercase;
   
    font-weight: bold;
}
.locationList ul li:hover
{
    background:rgb(239, 237, 237)
}
.locationList ul li:last-child
{
    border-bottom: none;
}
.checkout
{
    width: 90%;
    margin: auto;
}
.checkout ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkout ul li
{
    list-style-type: none;
    font-size: 14px;
    text-transform: capitalize;
    padding-right: 10px;
}
.checkout-details
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 2em 0;
    gap: 50px;
}
.checkout-left-col
{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.review-item-and-shipping
{
    border: 1px solid rgb(208, 203, 203);
    padding: 10px;
    border-radius: 10px;
}
.review-item-header
{
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(40, 38, 38);
}
.item-details
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.item-display
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item-display .item-img
{
    margin-right: 2em;
}
.item-details section h2
{
    text-transform: capitalize;
    color: rgb(40, 38, 38);
}
.item-details section p 
{
    text-transform: capitalize;
}
.checkout-right-col
{
    width: 30%;
}
.customer-type
{
    margin: 2em 0;
    display: flex;
    text-transform: capitalize;
}
.delivery-information
{
    border: 1px solid rgb(208, 203, 203);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.delivery-information-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.delivery-information-header h2
{
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(40, 38, 38);
}
.delivery-information-header button
{
    background: rgb(234, 231, 231);
    border: none;
    border-radius: 20px;
    padding: 8px;
    text-transform: capitalize;
    color: rgb(40, 38, 38);
    font-weight: 500;
    cursor: pointer;
    width: 150px;
}
.delivery-information-details
{
    width: 100%;
    margin: 2em 0;
}
.name-details,.other-details
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.delivery-information-details form section 
{
    margin: 0.2em 0;
}
.delivery-information-details form section label
{
    font-weight: 500;
    text-transform: capitalize;
}
.delivery-information-details form section input, section textarea
{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(208, 203, 203);
    background: transparent;
    margin: 0.5em 0;
}
input::placeholder
{
    padding-left: 20px;
}
.saved-delivery-information
{
    border: 1px solid rgb(208, 203, 203);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 2em 0;
}
.saved-delivery-information-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.saved-delivery-information-header h2
{
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(40, 38, 38);
}
.saved-delivery-information-header button
{
    background: rgb(234, 231, 231);
    border: none;
    border-radius: 20px;
    padding: 8px;
    text-transform: capitalize;
    color: rgb(40, 38, 38);
    font-weight: 500;
    cursor: pointer;
    width: 100px;
}
.saved-delivery-information-details
{
    margin: 2em 0;
}
.saved-delivery-information-details p
{
    margin: 0.5em 0;
    font-size: 14px;
}
.checkout-right-col
{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(208, 203, 203);
    padding: 10px;
    border-radius: 10px;
}
.checkout-right-col h1
{
    text-transform: capitalize;
    font-weight: 600;
}
.coupom-field
{
    margin: 1em 0;
    width: 100%;
    border: 1px solid red;
    height: 30px;
    background-color: white;
}
.coupom-field form
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.coupom-field form input
{
    background: transparent;
    border:none;
    text-transform: capitalize;
}