@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    background: white;
    width: 100vw;
    overflow-x: hidden;
}
.container
{
    width: 100%;
    margin: auto;
    align-items: center;
}
.container #pageTop
{
    width: 100%;
    margin: auto;
    background: rgb(4, 42, 42);
    padding: 0.8em 0;
}
.container #pageTop .pageTopContent
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.container #pageTop .pageTopContent .contact
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container #pageTop .pageTopContent .contact i
{
    padding:  0 0.5em;
}
.container #pageTop .pageTopContent .shop
{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.container #pageTop .pageTopContent .shop #discount p
{
    padding-right: 2em;
    border-right: 2px solid white;
    cursor: pointer;
}
.container #pageTop .pageTopContent .shop #discount p a
{
    text-decoration: none;
    color: white;
}
.container #pageTop .pageTopContent .shop #purchase p
{
    padding-left: 2em;
    cursor: pointer;
}
.container #pageTop .pageTopContent .shop #purchase p a
{
    text-decoration: none;
    color: white;
}
.container #pageTop .pageTopContent .locationAndLanguage
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container #pageTop .pageTopContent .locationAndLanguage div
{
    margin: 0 1em;
}
 .locationAndLanguage #language
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.locationAndLanguage #language .languageText
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .locationAndLanguage #language .languageText p,  .locationAndLanguage #language .languageText i
{
    padding: 0 0.5em;
}
.languageList
{
    border: 1px solid rgb(93, 92, 92);
    background: white;
    top: 30px;
    border-radius: 5px;
}
.languageList ul
{
    list-style-type: none;
    
}
.languageList ul li
{
    margin: 0.5em 0;
    color: rgb(93, 92, 92);
    border-bottom: 1px solid rgb(200, 150, 150);
    cursor: pointer;
    padding: 0.4em 1.5em;
    font-size:13px;
    text-transform: uppercase;
    font-weight: bold;
}
.languageList ul li:hover
{
    background:rgb(239, 237, 237)
}
.languageList ul li:last-child
{
    border-bottom: none;
}

.locationAndLanguage #location
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.locationAndLanguage #location .locationText
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.locationAndLanguage #location .locationText p,  .locationAndLanguage #location .locationText i
{
    padding: 0 0.5em;
}
.locationList
{
    border: 1px solid rgb(93, 92, 92);
    background: white;
    top: 30px;
    border-radius: 5px;
}
.locationList ul
{
    list-style-type: none;
    width: 100%;
}
.locationList ul li
{
    margin: 0.5em 0;
    color: rgb(93, 92, 92);
    border-bottom: 1px solid rgb(200, 150, 150);
    cursor: pointer;
    padding: 0.4em 1.5em;
    font-size:13px;
    text-transform: uppercase;
   
    font-weight: bold;
}
.locationList ul li:hover
{
    background:rgb(239, 237, 237)
}
.locationList ul li:last-child
{
    border-bottom: none;
}


header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}
.headerLogo
{
    width: 20%;
}
.headerMenu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerMenu .headerMenuList
{
    width: 100%;
}
.headerMenu .headerMenuList ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.headerMenu .headerMenuList ul li
{
    padding: 0.4em 1em;
    font-weight: 600;
    color: rgb(54, 53, 53);
    font-size: 13px;
    word-spacing: 1px;
    cursor: pointer;
    transition: 1s;
}
.headerMenu .headerMenuList ul .hover:hover 
{
    color: rgb(131, 127, 127);
}
.headerMenu .headerMenuList ul li:first-child:hover
{ box-shadow: 0 3px 0 0 blue;
   
    transition: box-shadow 0.5s ease-in-out;
}
.headerMenu .headerMenuList ul li:last-child
{
    border: 1px solid rgb(233, 224, 224);
    padding: 12px;
    width: 350px;
    border-radius: 20px;
    margin: 0 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerMenu .headerMenuList ul li:last-child input
{
    border: none;
    outline: none;
}
.headerMenu .headerSubMenuList
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    background-color: #fff;
    border-top: 1px groove rgb(196, 193, 193);
    margin: 1em 0;
    position: absolute;
    top: 100px;
    z-index: 1;
   
}
.headerSubMenuList h3
{
    padding: 1em 0;
    border-bottom: 1px solid rgb(189, 176, 176);
    color: rgb(31, 30, 30);
}
.headerSubMenuList .items
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 1em 0;
}
.headerSubMenuList .items .item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: whitesmoke;
    cursor: pointer;
}
.headerSubMenuList .items .item span
{
    padding-right: 2em;
}
.headerSubMenuList .items .item span .itemName
{
    font-weight: 600;
    text-transform: capitalize;
}
.headerSubMenuList .items .item span .itemAmount
{
    color:rgb(189, 176, 176) ;
}
.headerAccountAndCart
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:20% ;
}
.headerAccountAndCart a
{
    color: rgb(54, 53, 53);
    text-decoration: none;
}
.headerAccountAndCart  #account
{
   
    font-size: 15px;
    font-weight: 600;
    padding: 0 1em;
    cursor: pointer;
    transition: 1s;
}
.headerAccountAndCart  #account span
{
    padding: 0 0.2em;
}
.headerAccountAndCart   #cart
{
     font-size: 15px;
    font-weight: 600;
    padding: 0 1em;
    cursor: pointer;
    transition: 1s;
}
.headerAccountAndCart   #cart span
{
      padding: 0 0.2em;
}
.headerAccountAndCart  #account .accountText,.headerAccountAndCart  #cart
{
    font-size: 14px;
}
.headerAccountAndCart  #account .accountText:hover, .headerAccountAndCart  #cart .cartText:hover
{
    color: rgb(236, 125, 88);
    transition: 1s;
}
header  .hamburger{
    display: none;
}
header  .hamburger:hover
{
    color: #605d5d;
}

#intro
{
    width: 100%;
    margin: auto;
    background: url('images/backgroundStage.png');
    background-position: center;
    background-size: cover;
    background-color: rgb(196, 232, 220);
}
#intro .introInfo
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3em 0;
}
#intro .introText
{
    width: 50%;
}
#intro .introText h1
{
    color: rgb(4, 42, 42);
    font-size: 60px;
    margin: 0.5em 0;
    font-weight: bold;
    width: 100%;
}
#intro .introText p
{
    width: 80%;
    color: rgb(28, 39, 39);
    margin: 0.6em 0;
}
#intro .introText button
{
    width: 28%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    text-transform: capitalize;
    background: rgb(4, 42, 42);
    color: white;
    font-size: 18px;
    margin: 1em 0;
    cursor: pointer;
}
#intro .introImg
{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center; 
    justify-content: center;  
}
#intro .introImg img
{
    margin-top: 2px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}
#intro .introText, #intro .introImg {
    opacity: 0;
}


.introText.animate, .introImg.animate {
    opacity: 1;
}

.introText.animate {
    animation: fadeIn 1s ease-in-out forwards;
}

.introImg.animate {
    animation: slideIn 1s ease-in-out forwards;
}



#categories 
{
    width: 100%;
    margin: auto;
    padding: 4em 0;
}
#categories .categoryItem 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#categories .categoryItem  h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#categories .categoryItem  .categoryList
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#categories .categoryList a 
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
#categories .categoryList a .category {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 0.2em;
    animation: fadeIn 4s ease-in-out;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: background-size 0.3s ease-in-out;
}

#categories .categoryList a .category:hover {
    background-size: 120%;
}

#categories a .furniture
{
    background-image: url('images/category\ furniture.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories a .handbag
{
     background-image: url('images/category\ handbag.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories a .books
{
     background-image: url('images/category\ books.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories a .tech
{
     background-image: url('images/category\ tech.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories a .sneakers
{
     background-image: url('images/category\ sneakers.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories a .travel
{
     background-image: url('images/category\ travel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#bestDeals
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 2em 0;
}
#bestDeals h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#bestDeals .deals
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 34%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
#bestDeals .deals .deal 
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    animation: fadeIn 2s ease-in-out forwards;
}
#bestDeals .deals .deal  .dealItemDisplay
{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
}
#bestDeals .deals .deal  .dealItemDisplay .markDealItemAsFavorite 
{
    cursor: pointer;
}
#bestDeals .deals .deal  .dealItemDisplay .markDealItemAsFavorite i
{
    float: right;
    margin: 0.5em 0.5em;
    cursor: pointer;
    font-size: 20px;
    background-color: whitesmoke;
}
#bestDeals .deals .deal  .dealItemDisplay .dealItemImg img
{
    transition: 1s;
    cursor: pointer;
}
#bestDeals .deals .deal  .dealItemDisplay .dealItemImg img:hover
{
    transform: scale(1.2);
}
#bestDeals .deals .deal  .dealItemDisplay .dealItemDispalyInfo
{
    display: flex;
    flex-direction: column;
}
#bestDeals .deals .deal  .dealItemDispalyInfo .displayInfoNameAndPrice
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
#bestDeals .deals .deal  .dealItemDispalyInfo .displayInfoNameAndPrice .dealItemDisplayName
{
    color: rgb(21, 19, 19);
    font-weight: bold;
    margin: 0.5em 0;
}
#bestDeals .deals .deal  .dealItemDispalyInfo .displayInfoNameAndPrice p .dealItemDisplayPriceAmnt
{
    color: rgb(21, 19, 19);
    font-weight: 800;
}
#bestDeals .deals .deal  .dealItemDispalyInfo .dealItemDispalyDescription
{
    font-size: 12px;
    color: rgb(21, 19, 19);
    margin: 0.5em 0;

}
#bestDeals .deals .deal  .dealItemDispalyInfo .rating
{
    padding: 5em 0;
    cursor: pointer;

}

#bestDeals .deals .deal .dealItemAddToCart 
{
    margin: 1.5em 0;
}
#bestDeals .deals .deal .dealItemAddToCart  button
{
    width: 120px;
    padding: 10px;
    background: none;
    border: 1px solid rgb(21, 19, 19);
    border-radius: 20px;
    text-transform: capitalize;
    animation: fadeIn 5s ease-in-out forwards;

}
#bestDeals .deals .deal .dealItemAddToCart  button:hover
{
    background:  rgb(4, 42, 42);
    color: white;
    cursor: pointer;
    transition: background 0.5s ease-in;
}
::-webkit-scrollbar
{
    width: 5px;
    height: 4px;
}
::-webkit-scrollbar-track
{
    background: white;
}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background: rgb(4, 42, 42);
}


#brandDisplay
{
    width:90%;
    margin: auto;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#brandDisplay h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#brandDisplay .brands
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
#brandDisplay .brands .brand 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid whitesmoke;
    padding: 0 10px;
}
#brandDisplay .brands .brand:hover
{
    border: 1px solid rgb(72, 70, 70);
}

#brandDisplay .brands .brand .brandLogo img
{
    transition: .5s;
}
#brandDisplay .brands .brand .brandLogo img:hover
{
    transform: scale(1.1);
}
#brandDisplay .brands .brand .brandInfo 
{
    display: flex;
    flex-direction: column;
}
#brandDisplay .brands .brand .brandInfo .brandName
{
    color: rgb(44, 43, 43);
    font-size: 20px;
    font-weight: 600;
}
#brandDisplay .brands .brand .brandInfo .brandDelivery
{
    color: rgb(44, 43, 43);
    font-size: 12px;
}


#discountArea
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 4em 0;
}
#discountArea h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#discountArea .discountProducts
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#discountArea .discountProducts .discountProductInfo .discountPrice
{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
}
#discountArea .discountProducts .discountProduct
{
    width: 25%;
   cursor: pointer;
}
#discountArea .discountProducts .discountProduct .discountProductImg:hover
{
    /* transition here */
}
#discountArea .discountProducts .furniture .discountProductInfo
{
    background: #f2e4d9;
    padding: 2em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#discountArea .discountProducts .furniture .discountProductInfo .discountInfo
{
    font-size: 15px;
}
#discountArea .discountProducts .furniture .discountProductInfo .discountPrice span
{
    color: #cb9917;
    font-size: 50px;
}
#discountArea .discountProducts .furniture .discountProductImg img
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
#discountArea .discountProducts .book .discountProductInfo
{
    background: #f9dcdc;
    padding: 2em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#discountArea .discountProducts .book .discountProductInfo .discountInfo
{
    font-size: 15px;
}
#discountArea .discountProducts .book .discountProductInfo .discountPrice span
{
    color: #961f1f;
    font-size: 50px;
}
#discountArea .discountProducts .book .discountProductImg img
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
#discountArea .discountProducts .shirt .discountProductInfo
{
    background: #f2e4d9;
    padding: 2em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#discountArea .discountProducts .shirt .discountProductInfo .discountInfo
{
    font-size: 15px;
}
#discountArea .discountProducts .shirt .discountProductInfo .discountPrice span
{
    color: #94623c;
    font-size: 50px;
}
#discountArea .discountProducts .shirt .discountProductImg img
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}
#discountArea .discountProducts .bag .discountProductInfo
{
    background: #d2f7ec;
    padding: 2em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#discountArea .discountProducts .bag .discountProductInfo .discountInfo
{
    font-size: 15px;
}
#discountArea .discountProducts .bag .discountProductInfo .discountPrice span
{
    color: #003d29;
    font-size: 50px;
}
#discountArea .discountProducts .bag .discountProductImg img
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#discountArea .discountProducts .discountProduct {
    animation: fadeInUp 1s ease-in-out both;
}
#discountArea .discountProducts .discountProduct:nth-child(1) {
    animation-delay: 0.1s;
}
#discountArea .discountProducts .discountProduct:nth-child(2) {
    animation-delay: 0.3s;
}
#discountArea .discountProducts .discountProduct:nth-child(3) {
    animation-delay: 0.5s;
}
#discountArea .discountProducts .discountProduct:nth-child(4) {
    animation-delay: 0.7s;
}


#popularProducts
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 5em 0;
}
#popularProducts h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#popularProducts .products
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 34%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin: 1em 0;
}
#popularProducts .products .product
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    animation: fadeIn 2s ease-in-out forwards;
}
#popularProducts .products .product .productItemDisplay
{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
}
#popularProducts .products .product  .productItemDisplay .markproductItemAsFavorite 
{
    cursor: pointer;
}
 .markProductItemAsFavorite i
{
    float: right;
    margin: 0.5em 0.5em;
    cursor: pointer;
    font-size: 20px;
    background-color: whitesmoke;
}
#popularProducts .products .product  .productItemDisplay .productItemImg img
{
    transition: 1s;
    cursor: pointer;
}
#popularProducts .products .product  .productItemDisplay .productItemImg img:hover
{
    transform: scale(1.2);
}

#popularProducts .products .product  .productItemDisplay .productItemDispalyInfo
{
    display: flex;
    flex-direction: column;
}
#popularProducts .products .product  .productItemDispalyInfo .productInfoNameAndPrice
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
#popularProducts .products .product  .productItemDispalyInfo .productInfoNameAndPrice .productItemDisplayName
{
    color: rgb(21, 19, 19);
    font-weight: bold;
    margin: 0.5em 0;
}
#popularProducts .products .product  .productItemDispalyInfo .productInfoNameAndPrice p .productItemDisplayPriceAmnt
{
    color: rgb(21, 19, 19);
    font-weight: 800;
}
#popularProducts .products .product .productItemDispalyInfo .productItemDispalyDescription
{
    font-size: 12px;
    color: rgb(21, 19, 19);
    margin: 0.5em 0;

}
#popularProducts .products .product .productItemDispalyInfo .rating
{
    padding: 5em 0;
    cursor: pointer;

}

#popularProducts .products .product .productItemAddToCart 
{
    margin: 1.5em 0;
}
#popularProducts .products .product .productItemAddToCart  button
{
    width: 120px;
    padding: 10px;
    background: none;
    border: 1px solid rgb(21, 19, 19);
    border-radius: 20px;
    text-transform: capitalize;
    animation: fadeIn 5s ease-in-out forwards;
}
#popularProducts .products .product .productItemAddToCart  button:hover
{
    background:  rgb(4, 42, 42);
    color: white;
    cursor: pointer;
    transition: background 0.5s ease-in;
}
::-webkit-scrollbar
{
    width: 5px;
    height: 4px;
}
::-webkit-scrollbar-track
{
    background: white;
}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background: rgb(4, 42, 42);
}

#cashBackDiscount
{
    width: 100%;
    background: url('images/discountBanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    transition: 1s;
}
#cashBackDiscount:hover
{
    transform: scale(1.07);
    

}

#cashBackDiscount .cashBackInfo
{
    background-color: #003d29;
    color: white;
    width: 35%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    float: right;
    text-align: left;
    height: 500px;
    margin-top: 150px;
    margin-right: 100px;
    
}
#cashBackDiscount .cashBackInfo h1
{
    font-size: 45px;
    width: 80%;
}
#cashBackDiscount .cashBackInfo p
{
    padding: 1em 0;
}
#cashBackDiscount .cashBackInfo button
{
    cursor: pointer;
    width: 35%;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 1px solid white;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.5s;
}
#cashBackDiscount .cashBackInfo button:hover
{
    background-color: #231f1e;
    border: 1px solid #231f1e ;

}
#bestDeal
{
    width: 90%;
    margin: auto;
    padding: 5em 0;
    display: flex;
    flex-direction: column;

}
#bestDeal h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#bestDeal .bestDealBtn
{
    display: flex;
    flex-direction: row;
   
}
#bestDeal .bestDealBtn button
{
    text-transform: capitalize;
    padding: 10px;
    background: none;
    border-radius: 30px;
    width: 140px;
    margin-right: 0.8em;
    border: 1px solid rgb(138, 135, 135);
    cursor: pointer;
    transition: 1s;
    font-weight: 500;
}
#bestDeal .bestDealBtn button:hover
{
    background-color: rgb(4, 42, 42);
    color: white;
}
#bestDeal .bestDealItems
{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    gap: 10px;
    padding: 2em 0;
    justify-content: space-around;
}
#bestDeal .bestDealItems .dealItem
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1em 0;
    border-top-right-radius: 20px;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay
{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay .markDealItemAsFavorite
{
    border-radius: 20px;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay .markDealItemAsFavorite i
{
    float: right;
    margin: 0.5em 0.5em;
    cursor: pointer;
    font-size: 20px;
    background-color: whitesmoke;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay .ItemImg img
{
    transition: 1s;
    cursor: pointer;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay .ItemImg img:hover
{
    transform: scale(1.2);
}
#bestDeal  .dealItemDispalyDescription
{
    font-size: 12px;
}

#bestDeal .bestDealItems .dealItem  .dealitemInfoNameAndPrice
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}
#bestDeal .bestDealItems .dealItem  .dealitemInfoNameAndPrice .dealItemDisplayName
{
    color: rgb(21, 19, 19); 
    font-weight: bold;
}
#bestDeal .bestDealItems .dealItem  .dealitemInfoNameAndPrice p 
{
    color: #231f1e;
    font-weight: 800;
}
#bestDeal .bestDealItems .dealItem .dealItemDispalyInfo .rating
{
   
    cursor: pointer;
}
#bestDeal .bestDealItems .dealItem .dealItemDispalyInfo .rating i
{
    font-size: 15px;
    padding: 1em 0;
}
#bestDeal .bestDealItems .dealItem .dealItemAddToCart
{
    margin: 1em 0;
}
#bestDeal .bestDealItems .dealItem .dealItemAddToCart button
{
    width: 120px;
    padding: 10px;
    background: none;
    border: 1px solid rgb(21, 19, 19);
    border-radius: 20px;
    text-transform: capitalize;
    animation: fadeIn 2s ease-in-out forwards;
}
#bestDeal .bestDealItems .dealItem .dealItemAddToCart button:hover
{
    background:  rgb(4, 42, 42);
    color: white;
    cursor: pointer;
    transition: background 0.5s ease-in;
}

#cashBackOffer
{
    width: 100%;
    margin: auto;
    background-color: peachpuff;
    padding: 3em  0;
}
#cashBackOffer .cashBackOfferDetails
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em 0;
}
#cashBackOffer .cashBackOfferDetails .cashBackText
{
   
}
#cashBackOffer .cashBackOfferDetails .cashBackText h1
{
    font-size: 50px;
    color: #333333;
}
#cashBackOffer .cashBackOfferDetails .cashBackText p
{
    color: #333333;
}
#cashBackOffer .cashBackOfferDetails .cashBackText button
{
    width: 30%;
    padding: 15px;
    border-radius: 30px;
    margin: 1em 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(4, 42, 42);
    cursor: pointer;
    font-size: 18px;
    transition: 1s;
}
#cashBackOffer .cashBackOfferDetails .cashBackText button:hover
{
    background-color: #231f1e;
   
}
#cashBackOffer .cashBackOfferDetails .cashBackCard
{
   position: relative;
    top: -80px;
    left: 200px;
   
}
#cashBackOffer .cashBackOfferDetails .cashBackCard div
{
   position: absolute;
  
}
#cashBackOffer .cashBackOfferDetails .cashBackCard .card1
{
   top: 40px;
}
#cashBackOffer .cashBackOfferDetails .cashBackCard .card2
{
    top: 20px;
    transform: translate(5px);
    transform: rotate(-10deg);
}
#cashBackOffer .cashBackOfferDetails .cashBackCard .card3
{
    transform: rotate(-20deg);
}
#sellingProducts
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 5em 0;
}
#sellingProducts  h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#sellingProducts .sellingProductItems
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 34%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin: 1em 0;
}
#sellingProducts .sellingProductItems .sellingProduct
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    animation: fadeIn 2s ease-in-out forwards;
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductItemDisplay
{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductItemDisplay .sellingProductmarkAsFavorite
{
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductItemDisplay .sellingProductmarkAsFavorite i
{
    
    float: right;
    margin: 0.5em 0.5em;
    cursor: pointer;
    font-size: 20px;
    background-color: whitesmoke;
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductItemDisplay .sellingproductItemImg
{
    transition: 2s;
    cursor: pointer;
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductItemDisplay .sellingproductItemImg img:hover
{
    transform: scale(1.2);
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductDispalyInfo
{
    display: flex;
    flex-direction: column;
}
#sellingProducts .sellingProductItems .sellingProduct .sellingProductDispalyInfo .sellingProductNameAndPrice
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.sellingProductItemDisplayName
{
    color: rgb(21, 19, 19);
    font-weight: bold;
    margin: 0.5em 0;
}
.productItemDisplayPriceAmnt
{
    
    color: rgb(21, 19, 19);
    font-weight: 800;
}
.sellingProductDescription
{
    font-size: 12px;
    color: rgb(21, 19, 19);
    margin: 0.5em 0;
}
.sellingProductDispalyInfo .rating
{
    padding:0.5em 0;
    cursor: pointer;
}
.sellingProductItemAddToCart
{
    margin: 0.5em 0;
}
.sellingProductItemAddToCart button
{
    width: 120px;
    padding: 10px;
    background: none;
    border: 1px solid rgb(21, 19, 19);
    border-radius: 20px;
    text-transform: capitalize;
    animation: fadeIn 2s ease-in-out forwards;
}
.sellingProductItemAddToCart button:hover
{
    background:  rgb(4, 42, 42);
    color: white;
    cursor: pointer;
    transition: background 0.5s ease-in;
}
#trendingProduct
{
    width: 90%;
    margin: auto;
}
#trendingProduct h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
.trendingProductDisplay
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items:center ;
}
.trendingProductDisplay div
{
    background: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.trendingProductDisplay .trendingItem:hover
{
    background-size: 120%;
}
.trendingProductDisplay .furnitureVillage, .trendingProductDisplay .fashionWorld
{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
}
.trendingProductDisplay .furnitureVillage .furnitureVillageImg
{
    background: url('images/furniture\ village.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    cursor: pointer;
    transition: 1s;
}
.trendingProductDisplay .fashionWorld .fashionWorldImg
{
    background: url('images/fashion\ world.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    cursor: pointer;
    transition: 1s;
}
.trendingProductDisplay .fashionWorld .fashionWorldImg img:hover
{
    /* background-size: 120%; */
}
.trendingProductDisplay div h3
{
    color:#231f1e;
    margin: 0.5em 0;
    font-size: 20px;
}
.trendingProductDisplay div p
{
    color:#231f1e;
    font-weight: 500;
}
.trendingProductDisplay div button
{
    padding: 12px;
    width: 120px;
    margin:1em 0;
    text-transform: capitalize;
    background-color: #231f1e;
    font-weight: bold;
    color:white;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 2s;
}
.trendingProductDisplay div button:hover
{
    background-color:#003d29;
}
.trendingProductDisplay div .text 
{
    padding: 20px;
    border-radius: 20px;
}
#best-selling-store
{
    width: 90%;
    margin: auto;
    padding: 5em 0;
}
#best-selling-store h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#best-selling-store .selling-stores
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.store
{
    display: flex;
    flex-direction: column;
}
.store .storeAndBrandImg
{
    display: flex;
    flex-direction: column;
    position: relative;
}
.store .storeImg
{
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
    position: relative;
}
.store .storeImg:hover
{
   
}
.store .brandImg
{
    width: 60px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    margin-left: 20px;
}
.store .storeDescription
{
    font-size: 12px;
    color: rgb(44, 43, 43);
    padding: 0.5em 0;
}

.store .delivery 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.store h3
{
    color: rgb(44, 43, 43);
    padding-top: 0.8em;
}
.store .delivery  p
{
    font-size: 12px;
    color: rgb(162, 41, 91);
}
#shoppingService
{
    
    width: 90%;
    margin: auto;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
}
#shoppingService h2
{
    color: rgb(44, 43, 43);
    text-transform: capitalize;
    margin: 1em 0;
}
#shoppingService .shoppingServices
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#shoppingService .shoppingServices .service 
{
    border-radius: 20px;
}
#shoppingService .shoppingServices .service  .serviceText
{
    padding: 30px;
    background-color: whitesmoke;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#shoppingService .shoppingServices .service  .serviceText h4
{
    font-size: 20px;
    width: 50%;
    color: rgb(20, 19, 19);
}
#shoppingService .shoppingServices .service  .serviceText p
{
    font-size: 15px;
    color: rgb(44, 43, 43);
    width: 50%;
    padding: 1em 0;
}
#shoppingService .shoppingServices .service  .serviceImg img
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
footer
{
    padding: 5em 0;
    width: 90%;
    margin: auto;
}
footer .footerTop
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0;
}
footer .footerTop .paymentOption, footer .footerTop .departmentAndAbout, footer .footerTop .servicesAndHelp
{
    width: 25%;
}
footer .footerTop section h4
{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
   padding-bottom: 0.8em ;
}
footer .footerTop .departmentAndAbout
{
   display: flex;
   flex-direction: row;
  justify-content: space-between;
}
footer .footerTop .departmentAndAbout section h4
{
    font-weight: bold;
    color: rgb(44, 43, 43);
}
footer .footerTop .servicesAndHelp
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .footerTop .servicesAndHelp section h4
{
    font-weight: bold;
    color: rgb(44, 43, 43);
}
footer .footerTop section ul
{
   list-style-type: none;
   
}
footer .footerTop section ul li
{
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0.2em 0;
    text-align: left;
}
footer .footerTop section ul li a
{
    text-decoration: none;
    color: rgb(44, 43, 43) ;
    font-size: 12px;
    transition: 0.5s;
}
footer .footerTop section ul li a:hover
{
    color: #961f1f;
    padding-left: 5px;
}
footer .footerTop .paymentOption p
{
    color: rgb(44, 43, 43);
    font-size: 15px;
    padding: 1em 0;
}
footer .footerTop .paymentOption .acceptedPayments h3
{
    text-transform: capitalize;
    font-weight: 800;
    color: rgb(44, 43, 43);
}
.footerTop .paymentOption .acceptedPayments .acceptedPaymentOptions
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0.8em 0;
}
.footerTop .paymentOption .acceptedPayments .acceptedPaymentOptions a 
{
    border: 1px solid rgb(166, 163, 163);
    width: 60px;
    margin: 0.5em 0;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.footerTop .paymentOption .acceptedPayments .acceptedPaymentOptions a img
{
   padding: 0.2em 0;
}
/* .footerTop section:nth-child(2) section ul li, section:nth-child(3) section ul li
{
   color: green;
} */
footer .footerBottom
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    text-transform: capitalize;
    font-size: 14px;
}
footer .footerBottom .sellerGiftAndHelp, footer .footerBottom .serviceTermsAndPrivacy
{
    display: flex;
  align-items: center;
}
footer .footerBottom .sellerGiftAndHelp section, footer .footerBottom .serviceTermsAndPrivacy section
{
    margin: 0 0.5em;
    cursor: pointer;
}
footer .footerBottom .become-a-seller, footer .footerBottom .gift-card ,footer .footerBottom  .help-center
{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
}
footer .footerBottom  section img
{
   font-size: 20px; 
}
footer .footerBottom  section p
{
    transition: 1s;
    font-weight: 500;
}
footer .footerBottom  section p:hover
{
    color: #605d5d;
}
.markfavourite
{
    color: red;
    
}
.unMarkFavourite
{
    display: none;
}
.markImportant
{
    color: #077d55;
}
.unMarkImportant
{
    display: none;
}


@media (min-width: 320px) and (max-width: 480px){
    .container #pageTop
    {
        padding: 2px;
    }
    .container #pageTop .pageTopContent
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container #pageTop .pageTopContent div 
    {
        margin: 0.3em 0;
        font-size: 14px;
    }
    .container #pageTop .pageTopContent .contact
    {
       
    }
    .container #pageTop .pageTopContent .shop
    {
        display: none;
    }
    .container #pageTop .pageTopContent .locationAndLanguage
    {
        
       display: flex;
       flex-direction: row;
       gap: 30px;
    }
    .container #pageTop .pageTopContent .locationAndLanguage div
    {
        margin: 0 ;
        padding: 0.1em ;
    }
    .languageList, .locationList
    {
        top: 60px;
    }
    header 
    {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       width: 95%;
    }
    header .headerLogo
    {
      
    }
    header .headerLogo img
    {
        width: 150px;
    }
    .headerMenu .headerMenuList
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerMenu .headerMenuList ul
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 150px;
        left: -1px;
        background: white;
        width: 100%;
        border-radius: 20px;
        display: none;
        text-align: center;
        padding: 1em 0;

    }
    .headerMenu .headerMenuList ul li 
    {
        width: 40%;
        margin: auto;
        padding: 0.5em 0;
    }
    .headerMenu .headerMenuList ul li:first-child:hover
    {
      /* text-decoration: underline; */
      box-shadow: 0 0 0 0 blue;
      /* text-decoration-color: blue;
      text-decoration-thickness: 2px;
      transition: 0.2s; */
      /* text-shadow: 2px 4px 4px rgba(46,91,173,0.6); */
      border-bottom: 2px solid blue;
    
    }
    .headerMenu .headerMenuList ul li:last-child
    {
        display: none;
    }
    .headerMenu .headerSubMenuList
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 20px;
        top: 190px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        width: 90%;
        margin: auto;

    }
    .headerSubMenuList h3
    {
        font-size: 13px;
        padding: 0.5em 0;
    }
    .headerSubMenuList .items
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .headerSubMenuList .items .item
    {
        padding-top: 0.2em;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .headerSubMenuList .items .item .itemText
    {
        width: 100%;
    }
    .headerSubMenuList .items .item .itemText p
    {

    }
    .headerAccountAndCart
    {
        display: none;
    }
     header .hamburger 
    {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    #intro
    {
        width: 100%;
        margin: auto;
    }
    #intro .introInfo
    {
        width: 100%;
        margin: auto;
    }
    #intro .introText 
    {
        font-size: 30px;
        width: 80%;
        padding: 1em 0;
    }
    #intro .introText  h1
    {
        width: 100%;
        font-size: 30px;
    }
    #intro .introText  p
    {
        font-size: 13px;
    }
    #intro .introImg
    {
        display: none;
    }
    #intro .introText button
    {
        width: 150px;
        padding: 10px;
    }
    
    
    #categories 
    {
        padding: 2em 0;
    }
    #categories .categoryItem h2
    {
        font-size: 20px;
        padding: 0 1em;
    }
    #categories .categoryItem .categoryList
    {
        display: grid;
        grid-template-columns: auto auto ;
        width: 100%;
        margin: auto;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }
    #categories .categoryList a 
    {
        font-size: 10px;
    }
    #categories .categoryList a .category
    {
      width: 160px;
      height: 200px;
    }

    #bestDeals h2
    {
        font-size: 20px;
    }
    #bestDeals .deals
    {
        grid-auto-columns: 100%;
    }

#brandDisplay
{
    width: 90%;
    padding: 2em 0;
}
#brandDisplay h2
{
    font-size: 20px;
}
#brandDisplay .brands
{
    display: flex;
    flex-direction: column;
}
#brandDisplay .brands .brand 
{
    padding: 18px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#brandDisplay .brands .brand .brandLogo img
{
    width: 80px;
}
#brandDisplay .brands .brand .brandInfo .brandName
{
    font-size: 20px;
}
#brandDisplay .brands .brand .brandInfo .brandDelivery
{
    font-size: 15px;
}


#discountArea
{
    padding: 2em 0;
}
#discountArea h2
{
    font-size: 20px;
}
#discountArea .discountProducts
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#discountArea .discountProducts .discountProduct
{
    width: 100%;
}
#discountArea .discountProducts .discountProduct .discountProductImg img 
{
    width: 100%;
}



#popularProducts
{
   
}
#popularProducts h2
{
    font-size: 20px;
}
#popularProducts .products
{
    grid-auto-columns: 100%;
}
#cashBackDiscount
{
    width: 100%;
    display: flex;
    justify-content: center;
   
    height: 400px;  
}
#cashBackDiscount .cashBackInfo
{
    width: 90%;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: center;

}
#cashBackDiscount .cashBackInfo h1 
{
    
    font-size: 20px;
    width: 100%;
}
#cashBackDiscount .cashBackInfo p
{
    font-size: 13px;
    width: 100%;
}
#cashBackDiscount .cashBackInfo button
{
    font-size: 10px;
    padding: 8px;
}

#bestDeal
{
    padding: 2em 0;
}
#bestDeal h2
{
    font-size: 20px;
}
#bestDeal .bestDealBtn
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
#bestDeal .bestDealBtn button
{
    width: 100px;
    border-radius: 20px ;
    padding: 5px;
    margin: 0.5em 0;
}
#bestDeal .bestDealItems
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
   
}
#bestDeal .bestDealItems .dealItem
{
    width:100% ;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay 
{
    height: 200px;
}
#bestDeal .bestDealItems .dealItem .dealItemDisplay .ItemImg img
{
    width: 150px;
}
#bestDeal .bestDealItems .dealItem div .dealItemDispalyDescription
{
    font-size: 10px;
    word-spacing: -1px;
    margin:-1em 0
}
#bestDeal .bestDealItems .dealItem  .dealitemInfoNameAndPrice
{
    display: flex;
    flex-direction: column;
}
#bestDeal .bestDealItems .dealItem  .dealitemInfoNameAndPrice p 
{
    font-size: 12px;
}

#cashBackOffer
{
    padding:2em 0;
}
#cashBackOffer .cashBackOfferDetails
{
    padding: 2em 0;
}
#cashBackOffer .cashBackOfferDetails .cashBackCard
{
    display: none;
}
#cashBackOffer .cashBackOfferDetails .cashBackText
{
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 2px;
}
#cashBackOffer .cashBackOfferDetails .cashBackText h1
{
    font-size: 30px;
    width: 100%;
}
#cashBackOffer .cashBackOfferDetails .cashBackText button
{
    width: 150px;
    font-size: 20px;
    padding: 10px;
}
#sellingProducts 
{
    padding: 2em 0;
}
#sellingProducts  h2
{
    font-size: 20px;
}
#sellingProducts .sellingProductItems
{
    grid-auto-columns: 100%;
}
#trendingProduct
{
    padding: 2em 0;
}
#trendingProduct h2
{
    font-size: 20px;
}
.trendingProductDisplay
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.trendingProductDisplay .furnitureVillage, .trendingProductDisplay .fashionWorld
{
    width: 100%;
    height: 400px;
    margin: 1em 0;
}

#best-selling-store
{
    padding: 2em 0;
    width: 90%;
    margin: auto;
}
#best-selling-store .selling-stores
{
    display: flex;
    flex-direction: column;
    
}
.store
{
   width: 100%;
   margin: 0.8em 0;
}
.store .storeImg
{
   height: 250px;
}
.store .brandImg
{
  top: 220px;
  width: 70px;
}
.store h3
{
    padding-top: 2em;
}
#shoppingService
{
    padding: 2em 0;
}
#shoppingService h2
{
    font-size: 20px;
}
#shoppingService .shoppingServices
{
    display: grid;
    grid-template-columns: auto;
   
}
#shoppingService .shoppingServices .service 
{
    width: 100%;
    height: 500px;
    margin-bottom: -3em;
}
#shoppingService .shoppingServices .service  .serviceText
{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#shoppingService .shoppingServices .service  .serviceText h4
{
    width: 100%;
    font-size: 25px;
}
#shoppingService .shoppingServices .service  .serviceText p
{
    width: 100%;
    font-size:18px;
    padding: 0.5em 0;
}
#shoppingService .shoppingServices .service  .serviceImg
{
    width: 100%;
}
#shoppingService .shoppingServices .service  .serviceImg img
{
    width: 100%;
}
footer 
{
    width: 100%;
}
footer .footerTop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footerTop .paymentOption
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer .footerTop .paymentOption .footerLogo
{
    display: flex;
    justify-content: center;
   
   margin-bottom: 1em;
}
footer .footerTop .paymentOption .acceptedPayments
{
    margin: 1em 0;
}
footer .footerTop .departmentAndAbout, footer .footerTop .servicesAndHelp
{
    margin: 1em 0;
}
footer .footerTop .paymentOption, footer .footerTop .departmentAndAbout, footer .footerTop .servicesAndHelp
{
    width: 80%;
}
footer .footerTop section ul li a
{
    font-size: 13px;
}
footer .footerBottom
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 0.1em 0;
}
footer .footerBottom section 
{
    margin: 0.8em 0;
}
}






























